nav {
    position: fixed;
    top: 55px;
    width: 68px;
    height: 100%;
}

.side-button {
    display: flex;

    /* 각각 baseline(정렬의 기준이 되는 방향)의 수직, 수평 방향 정렬 방법 설정 */
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 7px;
    text-align: center;

    /* 가장 흔하게 사용하는 기본 width, height 지정 벙삭은 width=...% height=fit-content 
    높이를 정 조절하고 싶으면 내부에 있는 자식에게 padding을 주는 방식으로 가는 게 나았음 */
    height: 80px;

    padding: 2px;
} 

.side-button-content {
    margin-top: auto;
    margin-bottom: auto;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-button-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}