:root {
  /*
  --dslite-chip-width: calc(50px * var(--chip-size-multiplier));
  --dslite-chip-height: calc(48px * var(--chip-size-multiplier));
  --chip-size-multiplier: 1.5;
  */

  --console-size: 70vmin;

  --gameboy-chip-width: 15vmin;
  --dslite-chip-width: 10vmin;
  --switch-chip-width: 10vmin;
  --chip-size-multiplier: 1.5;

  --gameboy-puzzle-width: 36.36%;
  --gameboy-puzzle-height: var(--gameboy-puzzle-width);
  --dslite-puzzle-width: 36.36%;
  --dslite-puzzle-height: var(--dslite-puzzle-width);
  --switch-puzzle-width: 68.82%;
  --switch-puzzle-height: 76.19%;

  --gameboy-puzzle-rows: 4;
  --gameboy-puzzle-columns: 4;
  --dslite-puzzle-rows: 4;
  --dslite-puzzle-columns: 4;
  --switch-puzzle-rows: 4;
  --switch-puzzle-columns: 8;

  --gameboy-aspect-ratio: 128 / 176;
  --dslite-aspect-ratio: 1;
  --switch-aspect-ratio: 186 / 84;
}

body {
  background-image: url('./img/bg/puzzle.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vmin;
}

#conveyer {
  flex-basis: 20vmin;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
}

.frame {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#frame-gameboy {
  aspect-ratio: var(--gameboy-aspect-ratio);
  height: var(--console-size);
}

#frame-dslite {
  aspect-ratio: var(--dslite-aspect-ratio);
  height: var(--console-size);
}

#frame-switch {
  aspect-ratio: var(--switch-aspect-ratio);
  width: var(--console-size);
}

#console {
  width: 100%;
}

.puzzle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#puzzle-gameboy {
  aspect-ratio: 1;
  grid-auto-rows: auto;
  height: var(--gameboy-puzzle-height);
  margin-top: 0;
  margin-bottom: 64.1%;
}

.gameboy-grid {
  display: grid;
  grid-template-columns: repeat(var(--gameboy-puzzle-columns), 1fr);
  grid-template-rows: repeat(var(--gameboy-puzzle-rows), 25%);
  aspect-ratio: 1;
}

#puzzle-dslite {
  aspect-ratio: 1;
  width: var(--dslite-puzzle-height);
  margin-top: 0;
  margin-bottom: 48.8%;
}

.dslite-grid {
  display: grid;
  grid-template-columns: repeat(var(--dslite-puzzle-columns), 1fr);
  grid-template-rows: repeat(var(--dslite-puzzle-rows), 25%);
  aspect-ratio: 1;
}

#puzzle-switch {
  margin-top: 0;
  margin-bottom: 0;
  width: var(--switch-puzzle-width);
  height: var(--switch-puzzle-height);
}

.switch-grid {
  display: grid;
  grid-template-columns: repeat(var(--switch-puzzle-columns), 12.5%);
  grid-template-rows: repeat(var(--switch-puzzle-rows), 25%);
}

.frame .puzzle-piece-holder:hover {
  background-color: #ffffff3f;
}

.puzzle-piece-holder {
  transition-property: opacity;
  transition-duration: 0.5s;
}

.puzzle-piece {
  width: 100%;
}

.gameboy-chip {
  width: var(--gameboy-chip-width);
  flex: 1;
}

.dslite-chip {
  width: var(--dslite-chip-width);
  flex: 1;
}

.switch-chip {
  width: var(--switch-chip-width);
  flex: 1;
}

#complete-puzzle-image {
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 0;
}
